[bumpr]
file = flask_fs/__about__.py
vcs = git
commit = true
tag = true
push = true
tests = tox
publish = python setup.py bdist_wheel upload
clean = inv clean
files =
    README.md

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.rst
bump = {version} ({date:%Y-%m-%d})
prepare = Current

[readthedoc]
id = flask-fs

[replace]
dev = ?branch=master
stable = ?tag=v{version}
